<a href="https://colab.research.google.com/github/Ranga12891/House-Price-Prediction-using-Boston-Housing-Dataset/blob/main/House_Price_Prediction_using_Boston_Housing_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Import Necessary Package

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Import Data Sets

In [3]:
Train_DS = pd.read_csv("/content/drive/MyDrive/Data_Science/Assignment_4-Boston Housing/train.csv")
Test_DS = pd.read_csv("/content/drive/MyDrive/Data_Science/Assignment_4-Boston Housing/test.csv")

In [4]:
Train_DS

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,3,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,4,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,0.03615,80.0,4.95,0,0.411,6.630,23.4,5.1167,4,245.0,19.2,396.90,4.70,27.9
396,396,0.17505,0.0,5.96,0,0.499,5.966,30.2,3.8473,5,279.0,19.2,393.43,10.13,24.7
397,397,6.65492,0.0,18.10,0,0.713,6.317,83.0,2.7344,24,666.0,20.2,396.90,13.99,19.5
398,398,0.13117,0.0,8.56,0,0.520,6.127,85.2,2.1224,5,384.0,20.9,387.69,14.09,20.4
399,399,0.06466,70.0,2.24,0,0.400,6.345,20.1,7.8278,5,358.0,14.8,368.24,4.97,22.5

In [5]:
Test_DS

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0,0.10612,30.0,4.93,0,0.428,6.095,65.1,6.3361,6,300.0,16.6,394.62,12.40
1,1,0.34109,0.0,7.38,0,0.493,6.415,40.1,4.7211,5,287.0,19.6,396.90,6.12
2,2,12.24720,0.0,18.10,0,0.584,5.837,59.7,1.9976,24,666.0,20.2,24.65,15.69
3,3,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311.0,15.2,392.52,20.45
4,4,1.80028,0.0,19.58,0,0.605,5.877,79.2,2.4259,5,403.0,14.7,227.61,12.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,100,0.19073,22.0,5.86,0,0.431,6.718,17.5,7.8265,7,330.0,19.1,393.74,6.56
101,101,6.96215,0.0,18.10,0,0.700,5.713,97.0,1.9265,24,666.0,20.2,394.43,17.11
102,102,0.05360,21.0,5.64,0,0.439,6.511,21.1,6.8147,4,243.0,16.8,396.90,5.28
103,103,0.10469,40.0,6.41,1,0.447,7.267,49.0,4.7872,4,254.0,17.6,389.25,6.05
104,104,4.55587,0.0,18.10,0,0.718,3.561,87.9,1.6132,24,666.0,20.2,354.70,7.12

# Preprocessing & Data Cleaning

In [6]:
# Cleaning Train Data Set
Train_DS.describe()

,ID,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,3.757191,10.970000,10.936425,0.072500,0.552817,6.292165,68.086000,3.819462,9.462500,403.797500,18.459000,359.455375,12.668525,22.475750
std,115.614301,9.155496,22.796261,6.848042,0.259639,0.115488,0.709923,28.386888,2.132445,8.687478,169.656816,2.148105,86.732906,7.207047,9.218611
min,0.000000,0.009060,0.000000,0.460000,0.000000,0.385000,4.138000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.920000,5.000000
25%,99.750000,0.077820,0.000000,5.130000,0.000000,0.449000,5.877500,42.375000,2.109150,4.000000,277.000000,17.400000,376.115000,6.990000,17.100000
50%,199.500000,0.242170,0.000000,8.560000,0.000000,0.532000,6.208500,76.950000,3.272100,5.000000,329.000000,18.950000,391.575000,10.875000,21.000000
75%,299.250000,3.543427,12.500000,18.100000,0.000000,0.624000,6.620500,93.825000,5.214600,24.000000,666.000000,20.200000,396.285000,16.910000,25.000000
max,399.000000,88.976200,95.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
Train_DS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       400 non-null    int64
 1   CRIM     400 non-null    float64
 2   ZN       400 non-null    float64
 3   INDUS    400 non-null    float64
 4   CHAS     400 non-null    int64
 5   NOX      400 non-null    float64
 6   RM       400 non-null    float64
 7   AGE      400 non-null    float64
 8   DIS      400 non-null    float64
 9   RAD      400 non-null    int64
 10  TAX      400 non-null    float64
 11  PTRATIO  400 non-null    float64
 12  B        400 non-null    float64
 13  LSTAT    400 non-null    float64
 14  MEDV     400 non-null    float64
dtypes: float64(12), int64(3)
memory usage: 47.0 KB

Data Type Format are correct.

**Detecting Outliers**

In [8]:
# Dropping ID Column as it is a unique Column
Train_DS.drop('ID',axis = 1,inplace = True)
Train_DS.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.95577,0.0,8.14,0,0.538,6.047,88.8,4.4534,4,307.0,21.0,306.38,17.28,14.8
1,0.02875,28.0,15.04,0,0.464,6.211,28.9,3.6659,4,270.0,18.2,396.33,6.21,25.0
2,1.22358,0.0,19.58,0,0.605,6.943,97.4,1.8773,5,403.0,14.7,363.43,4.59,41.3
3,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666.0,20.2,395.69,16.59,18.4
4,0.04544,0.0,3.24,0,0.460,6.144,32.2,5.8736,4,430.0,16.9,368.57,9.09,19.8

In [15]:
Columns = Train_DS.columns.values
Outliers = []
Columns

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV'], dtype=object)

In [26]:
for i in Columns:
  Q1 = Train_DS[i].quantile(.75)
  Q3 = Train_DS[i].quantile(.25)
  IQR = Q1 - Q3
  Rng1 = Q3 - (IQR * 1.5)
  Rng2 = Q3 + (IQR * 1.5)
  Outlier = True if Train_DS[i].min() < Rng1 or Train_DS[i].max() > Rng2 else False
  Outliers.append(Outlier)
  # Correcting the Outliers
  Train_DS[i].loc[(Train_DS[i] < Rng1) ] = Rng1
  Train_DS[i].loc[(Train_DS[i] > Rng2) ] = Rng2

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [25]:
Outliers.count(True)

11

In [24]:
len(Columns)

14

There were 11 columns with Outliers out of 14. Those were corrected

In [28]:
Train_DS.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,400.000000,400.000000,400.000000,400.0,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000
mean,1.586839,4.762500,10.891562,0.0,0.546222,6.216617,68.086000,3.662690,9.462500,403.797500,18.465500,382.41335,12.026025,20.840000
std,2.132695,8.084367,6.749220,0.0,0.101568,0.534506,28.386888,1.791842,8.687478,169.656816,2.123295,18.34296,5.875109,6.004474
min,0.009060,0.000000,0.460000,0.0,0.385000,4.763000,2.900000,1.129600,1.000000,187.000000,13.200000,345.86000,1.920000,5.250000
25%,0.077820,0.000000,5.130000,0.0,0.449000,5.877500,42.375000,2.109150,4.000000,277.000000,17.400000,376.11500,6.990000,17.100000
50%,0.242170,0.000000,8.560000,0.0,0.532000,6.208500,76.950000,3.272100,5.000000,329.000000,18.950000,391.57500,10.875000,21.000000
75%,3.543427,12.500000,18.100000,0.0,0.624000,6.620500,93.825000,5.214600,24.000000,666.000000,20.200000,396.28500,16.910000,25.000000
max,5.276231,18.750000,24.585000,0.0,0.711500,6.992000,100.000000,6.767325,24.000000,711.000000,21.600000,396.90000,21.870000,28.950000

Data CLeaning is done.
There is no need to encode the data.
Now we can Split & Scale the data

In [29]:
X = Train_DS.drop('MEDV',axis = 1)

In [30]:
Y = Train_DS.MEDV

In [31]:
# Spltting
from sklearn.model_selection import train_test_split #import the required function
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=1)

# Scaling
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

This is Supervised Learning Problem. Since Target is Continuos this is Regression Problem.

# **We will Apply Linear, Lasso & Ridge Regression Model.**

**Linear Regression**

In [32]:
from sklearn.linear_model import LinearRegression #importing all the required functions
regressor = LinearRegression() # spredicted score = m * hours + c  
regressor.fit(X_train_scaled, y_train) #Learning happens - GD is done and we get the final values of m and c
y_pred = regressor.predict(X_test_scaled)
y_pred.shape

(120,)

In [33]:
LR_R2_Score = round(regressor.score(X_test_scaled,y_test),3)
LR_R2_Score

0.799

**Lasso Regression**

In [50]:
from sklearn.linear_model import Lasso
lr = Lasso(alpha = 0.1) # Hyper paramerer Lambda
lr.fit(X_train_scaled, y_train)
y_pred = lr.predict(X_test_scaled)

In [51]:
Lasso_R2_Score = round(lr.score(X_test_scaled, y_test),3)
Lasso_R2_Score

0.799

**Ridge Regression**

In [68]:
from sklearn.linear_model import Ridge
Ridge_LR = Ridge(alpha = 1) # Hyper paramerer Lambda
Ridge_LR.fit(X_train_scaled, y_train)
y_pred = Ridge_LR.predict(X_test_scaled)

In [69]:
Ridge_R2_Score = round(Ridge_LR.score(X_test_scaled, y_test),3)
Ridge_R2_Score

0.801

Out of All Modles Ridge is having better Score.

So Selecting Ridge Regression as final model

# **Predicting Median Value for Test Dataset**

In [71]:
Test_DS
ID = Test_DS.ID.values
ID

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104])

In [ ]:
Test_DS.drop('ID',axis = 1,inplace = True)
# Scaling
Test_DS_scaled = scaler.transform(Test_DS)
Test_DS_scaled

In [ ]:
# Predicting Median Value
Test_DS_pred = Ridge_LR.predict(Test_DS_scaled)
Test_DS_pred

In [77]:
Output_Pred_Dict = {"ID":ID,"Output MEDV":Test_DS_pred }
Output_Prediction_DF = pd.DataFrame(Output_Pred_Dict)
Output_Prediction_DF.head(5)

   ID  Output MEDV
0   0    21.856429
1   1    24.545494
2   2     8.202808
3   3    16.812161
4   4    19.809980

**Saving Output Predictions in '.csv' File**

In [78]:
Output_Prediction_DF.to_csv('Output_Prediction.csv',index = False)